<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <!-- Define some output appenders -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="text.txt"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <!--日志文件最大为1M：如果超过1M，那么创建一个新的文件text.txt,把老文件改名：text1~*.txt-->
      <maximumFileSize value="1024KB"/>
      <!--到了1M进行回滚-->
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <!--日志的格式-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <!--配置日志的级别，低于此级别的就不写进日志里去-->
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>