
@{
     Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Content/LgUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" />
    <link href="~/Content/LgUI/skins/ligerui-icons.css" rel="stylesheet" />
    <script src="~/Content/LgUI/js/jquery-1.3.2.min.js"></script>
    <script src="~/Content/LgUI/js/core/base.js"></script>
    <script src="~/Content/LgUI/js/plugins/ligerDrag.js"></script>
    <script src="~/Content/LgUI/js/plugins/ligerDialog.js"></script>
    <script src="~/Content/LgUI/js/plugins/ligerResizable.js"></script>
    <script src="~/Content/LgUI/js/plugins/ligerLayout.js"></script>
    <style type="text/css">
        .l-case-title {
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        body, html {
            width: 100%;
            height: 100%;
        }

        * {
            margin: 0;
            padding: 0;
        }

        #winlinks {
            position: absolute;
            left: 20px;
            top: 20px;
            width: 100%;
        }

            #winlinks ul {
                position: relative;
            }

            #winlinks li {
                width: 70px;
                cursor: pointer;
                height: 80px;
                position: absolute;
                z-index: 101;
                list-style: none;
                text-align: center;
            }

                #winlinks li img {
                    width: 36px;
                    height: 36px;
                }

                #winlinks li span {
                    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
                    border-radius: 10px 10px 10px 10px;
                    display: block;
                    font-size: 12px;
                    margin-top: 1px;
                    color: White;
                    line-height: 18px;
                    text-align: center;
                }

                #winlinks li.l-over div.bg {
                    display: block;
                }

                #winlinks li div.bg {
                    display: none;
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    z-index: 0;
                    width: 75px;
                    height: 64px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    background: #000;
                    opacity: 0.1;
                    filter: alpha(opacity=10);
                }

        .l-taskbar-task-icon {
            top: 3px;
            left: 6px;
            background-image: none;
        }

        .l-taskbar-task-content {
            margin-left: 30px;
        }

        .l-taskbar-task-icon img {
            width: 22px;
            height: 22px;
        }
        #header {
            height: 60px;
            background-image: url('../../Content/Images/bg3.png');
            background-repeat:repeat-x;
        }
            #header h1 {
                float:left;
                margin-left:20px;
                margin-top:21px;
            }
        #imgUser {
            float:right;
            margin-right:10px;
        }
    </style>
    <script type="text/javascript">
        //图标工具
        var links = "";
        $(function () {
            $.getJSON("/Home/LoadMenu", {}, function (data) {
                links = data;
                linksInit();
                onResize();
            });
            $("#layout1").ligerLayout();
          /*  links = [{ icon: '../../Content/Images/3DSMAX.png', title: '菜单管理', url: '/Menu/Index' },
                { icon: '../../Content/Images/3DSMAX.png', title: '部门管理', url: '/Department/Index' },
                { icon: '../../Content/Images/3DSMAX.png', title: '用户管理', url: '/UserInfo/ShowUsers' },
                { icon: '../../Content/Images/3DSMAX.png', title: '角色管理', url: '/Role/Index' },
                { icon: '../../Content/Images/3DSMAX.png', title: '权限管理', url: '/ActionInfo/Index' },
                { icon: '../../Content/Images/3DSMAX.png', title: '多表头', url: '../grid/mulheader/grid2.htm' },
                { icon: '../../Content/Images/Program Files Folder.png', title: '固定列', url: '../grid/frozen/frozengrid.htm' },
                { icon: '../../Content/Images/Program Files Folder.png', title: '可拖动', url: '../base/drag.htm' },
                { icon: '../../Content/Images/Alien Folder.png', title: '树', url: '../tree/draggable.htm' },
                { icon: '../../Content/Images/Xp-G5 006.png', title: '下拉框', url: '../comboBox/comboBoxGrid.htm' },
                { icon: '../../Content/Images/Xp-G5 006.png', title: '下拉框', url: '../comboBox/comboBoxGrid.htm' },
                { icon: '../../Content/Images/Alien Folder.png', title: 'layout', url: '../layout/layoutFullHeight.htm' },
                 { icon: '../../Content/Images/Alien Folder.png', title: 'menu', url: '../menu/menubar.htm' },
                 { icon: '../../Content/Images/Xp-G5 006.png', title: 'tab', url: '../tab/tabHtml.htm' },
                 { icon: '../../Content/Images/3DSMAX.png', title: '分组', url: '../grid/groupable/checkbox.htm' }];
  */
            
        });
    </script>
</head>
<body>
    <div id="header">
        <h1>协同办公系统</h1>
        <img id="imgUser" src="~/Content/Images/big.png" />
    </div>
    <div id="layout1">
        <div position="center" style="background: url('../../Content/Images/7_7.jpg') repeat-x;">
            <div id="winlinks">
                <ul></ul>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    var LINKWIDTH = 90, LINKHEIGHT = 90, TASKBARHEIGHT = 43;
    var winlinksul = $("#winlinks ul");
    //点击图标时弹出对话框
    function f_open(url, title, icon) {
        var win = $.ligerDialog.open(
        { height: 500, url: url, width: 750, showMax: true, showToggle: true, showMin: true, isResize: true, modal: false, title: title, slide: false, buttons: [
            { text: '确定', onclick: function (item, Dialog, index) {
                win.hide();
            }
            }
        ]
        });
        var task = jQuery.ligerui.win.tasks[win.id];
        if (task) {
            $(".l-taskbar-task-icon:first", task).html('<img src="' + icon + '" />');
        }
        return win;
    }
    //浏览器窗口改变大小时执行方法重新排列所有图标
    function onResize() {
        var linksHeight = $(window).height() - TASKBARHEIGHT;
        var winlinks = $("#winlinks");
        winlinks.height(linksHeight);
        var colMaxNumber = parseInt(linksHeight / LINKHEIGHT);//一列最多显示几个快捷方式
        for (var i = 0, l = links.length; i < l; i++) {
            var link = links[i];
            var jlink = $("li[linkindex=" + i + "]", winlinks);
            var top = (i % colMaxNumber) * LINKHEIGHT, left = parseInt(i / colMaxNumber) * LINKWIDTH;
            if (isNaN(top) || isNaN(left)) continue;
            jlink.css({ top: top, left: left });
        }
    }
    //遍历所有图标数据，创建图标放到ul里面
    function linksInit() {
        for (var i = 0, l = links.length; i < l; i++) {
            var link = links[i];
            var jlink;
            var jlink = $("<li></li>");
            jlink.attr("linkindex", i);
            jlink.append("<img src='" + link.icon + "' />");
            jlink.append("<span>" + link.title + "</span>");
            jlink.append("<div class='bg'></div>");
            jlink.hover(function () {
                $(this).addClass("l-over");
            }, function () {
                $(this).removeClass("l-over");
            }).click(function () {
                var linkindex = $(this).attr("linkindex");
                var link = links[linkindex];
                f_open(link.url, link.title, link.icon);
            });
            jlink.appendTo(winlinksul);
        }
    }
    $(window).resize(onResize);
    $.ligerui.win.removeTaskbar = function () { }; //不允许移除
    $.ligerui.win.createTaskbar(); //页面加载时创建任务栏  
</script>
</html>

